.h-button {
  box-sizing: border-box;
  display: inline-block;
  padding: 12px 20px;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #606266;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  outline: none;
  transition: 0.1s;
  appearance: none;
}

.h-button--primary {
  color: #fff;
  background-color: var(--h-primary-color);
  border-color: var(--h-primary-color);

  &:hover {
    color: #fff;
    background: var(--h-info-color-suppl);
    border-color: var(--h-info-color-suppl);
  }
}
.h-button--ghost {
  --transparent: transparent;
  background-color: var(--transparent);
  color: var(--h-primary-color);
  &:hover {
    background-color: var(--transparent);
    color: var(--h-primary-color);
  }
}
