/* stylelint-disable */
:root{
    --h-primary-color:#409eff;
    --h-name: common;
    --h-font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --h-font-weight: 400;
    --h-font-weight-strong: 500;
    --h-cubic-bezier-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
    --h-cubic-bezier-ease-out: cubic-bezier(0, 0, 0.2, 1);
    --h-cubic-bezier-ease-in: cubic-bezier(0.4, 0, 1, 1);
    --h-border-radius: 3px;
    --h-border-radius-small: 2px;
    --h-font-size: 14px;
    --h-font-size-mini: 12px;
    --h-font-size-small: 14px;
    --h-font-size-medium: 14px;
    --h-font-size-large: 15px;
    --h-font-size-huge: 16px;
    --h-line-height: 1.5;
    --h-height-mini: 16px;
    --h-height-small: 28px;
    --h-height-medium: 34px;
    --h-height-large: 40px;
    --h-height-huge: 46px;
    --h-base-color: #FFF;
    --h-info-color: #2080f0;
    --h-info-color-pressed: #1060c9;
    --h-info-color-suppl: #4098fc;
    --h-success-color: #18a058;
    --h-success-color-hover: #36ad6a;
    --h-success-color-pressed: #0c7a43;
    --h-success-color-suppl: #36ad6a;
    --h-warning-color: #f0a020;
    --h-warning-color-hover: #fcb040;
    --h-warning-color-pressed: #c97c10;
    --h-warning-color-suppl: #fcb040;
    --h-error-color: #d03050;
    --h-error-color-hover: #de576d;
    --h-error-color-pressed: #ab1f3f;
    --h-error-color-suppl: #de576d;
    --h-text-color-base: #000;
    --h-text-color-1: rgb(31, 34, 37);
    --h-text-color-2: rgb(51, 54, 57);
    --h-text-color-3: rgb(118, 124, 130);
    --h-text-color-disabled: rgba(194, 194, 194, 1);
    --h-placeholder-color: rgba(194, 194, 194, 1);
    --h-placeholder-color-disabled: rgba(209, 209, 209, 1);
    --h-icon-color: rgba(194, 194, 194, 1);
    --h-icon-color-hover: rgba(146, 146, 146, 1);
    --h-icon-color-pressed: rgba(175, 175, 175, 1);
    --h-icon-color-disabled: rgba(209, 209, 209, 1);
    --h-opacity-1: 0.82;
    --h-opacity-2: 0.72;
    --h-opacity-3: 0.38;
    --h-opacity-4: 0.24;
    --h-opacity-5: 0.18;
    --h-divider-color: rgb(239, 239, 245);
    --h-border-color: rgb(224, 224, 230);
    --h-close-icon-color: rgba(102, 102, 102, 1);
    --h-close-icon-color-hover: rgba(102, 102, 102, 1);
    --h-close-icon-color-pressed: rgba(102, 102, 102, 1);
    --h-close-color-hover: rgba(0, 0, 0, 0.09);
    --h-close-color-pressed: rgba(0, 0, 0, 0.13);
    --h-clear-color: rgba(194, 194, 194, 1);
    --h-clear-color-hover: rgba(146, 146, 146, 1);
    --h-clear-color-pressed: rgba(175, 175, 175, 1);
    --h-scrollbar-color: rgba(0, 0, 0, 0.25);
    --h-scrollbar-color-hover: rgba(0, 0, 0, 0.4);
    --h-scrollbar-width: 5px;
    --h-scrollbar-height: 5px;
    --h-scrollbar-border-radius: 5px;
    --h-progress-rail-color: rgba(235, 235, 235, 1);
    --h-rail-color: rgb(219, 219, 223);
    --h-popover-color: #fff;
    --h-table-color: #fff;
    --h-card-color: #fff;
    --h-modal-color: #fff;
    --h-body-color: #fff;
    --h-tag-color: #eee;
    --h-avatar-color: rgba(204, 204, 204, 1);
    --h-inverted-color: rgb(0, 20, 40);
    --h-input-color: rgba(255, 255, 255, 1);
    --h-code-color: rgb(244, 244, 248);
    --h-tab-color: rgb(247, 247, 250);
    --h-action-color: rgb(250, 250, 252);
    --h-table-header-color: rgb(250, 250, 252);
    --h-hover-color: rgb(243, 243, 245);
    --h-table-color-hover: rgba(0, 0, 100, 0.03);
    --h-table-color-striped: rgba(0, 0, 100, 0.02);
    --h-pressed-color: rgb(237, 237, 239);
    --h-opacity-disabled: 0.5;
    --h-input-color-disabled: rgb(250, 250, 252);
    --h-button-color-2: rgba(46, 51, 56, 0.05);
    --h-button-color-2-hover: rgba(46, 51, 56, 0.09);
    --h-button-color-2-pressed: rgba(46, 51, 56, 0.13);
    --h-box-shadow-1: 0 1px 2px -2px rgba(0, 0, 0, 0.08), 0 3px 6px 0 rgba(0, 0, 0, 0.06), 0 5px 12px 4px rgba(0, 0, 0, 0.04);
    --h-box-shadow-2: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    --h-box-shadow-3: 0 6px 16px -9px rgba(0, 0, 0, 0.08), 0 9px 28px 0 rgba(0, 0, 0, 0.05), 0 12px 48px 16px rgba(0, 0, 0, 0.03);
}