<template>
  <el
    :class="buttonStyle"
    :style="{ '--btn-size': size, ...buttonProps['style'] }"
  >
    <slot />
  </el>
</template>

<script lang="ts" setup>
import './style/index.less';
import { computed } from 'vue';
defineOptions({ name: 'h-button' });
enum BtnSize {
  medium = '28px',
  small = '34px',
  large = '40px'
}
// 属性类型
type ButtonProps = {
  type?: string; // default  primary  warning  error
  size?: string; // small medium large
  tag?: string;
  round?: boolean;
  style?: object;
  block?: boolean;
  bordered?: boolean;
  circle?: boolean;
  color?: string | undefined;
  disabled?: boolean;
  ghost?: boolean;
  text?: boolean;
};
// 属性默认值
const buttonProps = withDefaults(defineProps<ButtonProps>(), {
  type: 'default',
  tag: 'button',
  size: 'medium',
  round: false,
  block: false,
  bordered: true,
  circle: false,
  color: undefined,
  disabled: false,
  ghost: true,
  text: false
});
// 元素标签
const el: unknown = computed(() =>
  buttonProps.text ? 'span' : buttonProps.tag
);
// 按钮尺寸
const size = computed(() => BtnSize[buttonProps['size']]);
// 样式前缀
const stylePrefix = (name: string): string => (name ? `h-button--${name}` : '');
// 元素样式
const buttonStyle = computed(() => {
  return [
    'h-button',
    `${stylePrefix(buttonProps.type)}`,
    `${stylePrefix(buttonProps.round ? 'round' : '')}`,
    `${stylePrefix(buttonProps.size)}`,
    `${stylePrefix(buttonProps.block ? 'block' : '')}`,
    `${stylePrefix(buttonProps.bordered ? 'bordered' : '')}`,
    `${stylePrefix(buttonProps.circle ? 'circle' : '')}`,
    `${stylePrefix(buttonProps.color ? 'color' : '')}`,
    `${stylePrefix(buttonProps.ghost ? 'ghost' : '')}`
  ];
});
</script>
